.panel.panel-danger
  .panel-heading{style: "background-image: linear-gradient(to bottom, red, #d83030);color:white;font-weight:bold"} 视频新闻
  .panel-body
    %div
      %embed{style: "height: 231px; width:300px;", src: "http://player.youku.com/player.php/sid/XNTEyOTM1MDQ4/v.swf", quality: "high", align: "middle",  mode: "transparent", type: "application/x-shockwave-flash"}