.row 
  .span12
    =render :partial => 'common/flashes'

    .span35
      .panel.panel-danger
        .panel-heading{style: "background-image: linear-gradient(to bottom, red, #d83030);color:white;font-weight:bold"}= t(".recetn_activities")
        .panel-body
          %ul{style: "padding-left:20px"}
            -@sub_category_recent.each do |recent|
              %li
                = link_to sanitize(truncate(recent.title, :length => 12, :omission => "...")) , recent
                %span{style: "float:right"}= recent.created_at.strftime('%Y-%m-%d').to_s
.row
  .span12{style: "margin-top: 0px"}
    .span6{style: "display:inline-block;"}
      =render partial: 'segment', locals: { category_item: @category1 }
      =render partial: 'segment', locals: { category_item: @category2 }
    .span35{style: "display:inline-block;"}
      =render partial: 'video'
      =render partial: 'picarea'

  / .span35{style: "display:inline-block;"}
  /   .panel.panel-danger
  /     .panel-heading{style: "background-image: linear-gradient(to bottom, red, #d83030);color:white;font-weight:bold"} 协会介绍
  /     .panel-body
  /       %ul
  /         %li 协会介绍
  / .span4{style: "display:inline-block;margin-right:40px"}
  /   .panel.panel-danger
  /     .panel-heading{style: "background-image: linear-gradient(to bottom, red, #d83030);color:white;font-weight:bold"} 协会介绍
  /     .panel-body
  /       %ul
  /         %li 协会介绍
  / .span4{style: "display:inline-block;float:right"}
  /   .panel.panel-danger
  /     .panel-heading{style: "background-image: linear-gradient(to bottom, red, #d83030);color:white;font-weight:bold"} 协会介绍
  /     .panel-body
  /       %ul
  /         %li 协会介绍