<div class="span7 well" style="background-color: white">
  <div id="myCarousel" class="carousel slide" style="max-width:670px;max-height:447px">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
    </ol>
    <div class="carousel-inner">
      <div class="item">
        <img alt="Slide-01" src="/assets/slide-01.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>图片1</h1>
            <p class="lead">图片展示1</p>
          </div>
        </div>
      </div>
      <!--
      <div class="item">
        <img alt="Slide-02" src="/assets/slide-02.jpg" />
        <div class="container">
          <div class="carousel-caption">
            <h1>图片1</h1>
            <p class="lead">图片展示1</p>   
          </div>
        </div>
      </div>
    -->
      <div class="item active">
        <img alt="Slide-02" src="/assets/slide-02.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>图片1</h1>
            <p class="lead">图片展示1</p>   
          </div>
        </div>
      </div>
    </div>
     <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>
  <script type="text/javascript">  
      $(function(){
        // carousel demo
        $('#myCarousel').carousel({
          interval: 5000
        })        
      })
  </script>
</div>