%hr

#footer
  .maintain.row
    %ul
      %li
        = link_to "网站管理", front_admin_url
        |
        = link_to "联系我们", root_url
  .address.row
    %ul
      %li www.sdycxh.com
      %li 版权所有: 山东省演出行业协会 
      %li 协会电话: 0531-86060936 86060699
      %li 技术支持: 山东天硕文化传媒有限公司
      %li 公司电话: 0531-66896868 87036868
