%hr{style: "color:black"}

#footer
  .maintain.row
    %ul
      %li
        = link_to "网站管理", front_admin_url
        |
        = link_to "联系我们", root_url
  .address.row
    %ul
      %li www.sdycxh.com
      %li 版权所有: 山东演出协会 
      %li 技术支持: 山东天硕传媒有限公司
      %li 协会电话: 010-000000000
